@import 'variables';



a{
    text-decoration: none;
    color: initial;
}

body{
    background-color: $primarycolor;
}

//Content Component
    main{
        background-color: $primarycolor;
        padding: 0;
        font-family: $fontfamily;
        z-index: 0;
        }


       
        .header{
            width: 100%;
            height: 66vh;
            background-image: url(scarfphoto/queendiamondstexture.png);
            background-attachment: fixed;
            background-position: center;
            text-align: center;
            color: $primarycolor;
            background-blend-mode: multiply;
            text-shadow: 4px 4px 8px black;

            h1{
                @media screen and (min-width: 769px){
                    font-size: 6rem;
                    padding-top: 80px;
                }
                @media screen and (max-width: 768px){
                    font-size: 4rem;
                    padding-top: 64px;
                }
            }

            p{
                @media screen and (min-width: 769px){
                    font-size: 3rem;
                }
                @media screen and (max-width: 768px){
                    font-size: 2rem;
                    padding: 0 32px;
                }
            }
        }

//Footer Component
    footer{
        background-color: $secondarycolor;
        font-family: $fontfamily;
        clear: both;
        padding-top: 32px;


        .socialmedias{
            width: 300px;
            display: flex;
            justify-content: space-between;
            margin: auto;

            .socialmedia-link{

                .fa{
                    padding: 20px;
                    font-size: 30px;
                    height: 30px;
                    width: 30px;
                    text-align: center;
                    text-decoration: none;
                    margin: 5px 2px;
                    border-radius: 100%;
                    color: $darkcolor;
                }
        }
        
        }

        .footer-links{
            display: grid;

            @media screen and (min-width: 992px){
                grid-template-columns: repeat(3, 320px);
                grid-template-rows: auto;
                justify-content: space-around;
            }

            @media screen and (max-width: 992px){
                grid-template-columns: 320px;
                grid-template-rows: repeat(3, auto);
                justify-content: space-around;
            }

            ul{
                list-style-type: none;
                text-align: center;
                padding: 0 0 32px 0;
                width: 320px;

                .linktitle{
                    font-size: 1.5rem;
                    font-weight: 600;
                    padding-bottom: 16px;
                    cursor: default;
                }
    
                a{
                    color: $darkcolor;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline dashed;
                    }

                    li{
                        padding: 8px 0;
                    }
                }
            }
        }

        .copyrighttag{
            font-size: .75rem;
            padding: 0 0 1rem 1rem;
            margin: 0;
        }
        
    }